extends base
block emailContent
  h1 Purchase summary:
  ul
  each val in dataProducts
    div 
      h3 
        b Name: 
        =val['name']
      p 
        b Price: 
        =val['price']
      p
        b Quantity: 
        =val['quantity']
    hr
    br
  h3 Total: #{total}
